<script>
  import { page } from "$app/stores";
  import { onMount } from "svelte";
  import { openDB } from "idb";
  import { setUserData } from "$lib/state.js";

  import Header from "../components/Header.svelte";
  import NavbarMain from "../components/NavbarMain.svelte";
  import NotiBarGen from "$lib/components/NotiBarGen.svelte";
  import Footer from "../components/Footer.svelte";

  // Rutas sin layout o fuera de aplicacion
  const noLayout = ["/login", "/test"];

  // Ejecucion para rutas protegidas
  /* if (!noLayout.includes($page.url.pathname)) {
    onMount(async () => {
      console.log("Desde el navegador sexy");
      try {
        const db = await openDB("uDDB", 1);

        // Verificar si el objeto de almacenamiento existe
        if (db.objectStoreNames.contains("uDStore")) {
          const tx = db.transaction("uDStore", "readonly");
          const uDStore = tx.objectStore("uDStore");

          const uDUser = {
            i: await uDStore.get("i"),
            u: await uDStore.get("u"),
            e: await uDStore.get("e"),
            a: await uDStore.get("a"),
          };

          if (!uDUser.i || !uDUser.u || !uDUser.e || !uDUser.a) {
            throw new Error("There isn't user data");
          }

          if (uDUser) {
            console.log(" > consulta: ", uDUser);
            const bodyContent = JSON.stringify({
              method: 2,
              data: uDUser,
            });

            const response = await fetch("/api/dencr", {
              method: "POST",
              headers: { "Content-Type": "application/json" },
              body: bodyContent,
            });

            if (response.ok) {
              const data = await response.json();
              const config = { l: false, err: false };
              console.log({ ...data, ...config });
              setUserData({ ...data, ...config });
            } else {
              console.error("> Error de peticion:", await response.text());
              throw new Error("Error en la petición");
            }
          } else {
            console.error("No se encontró datos cifrados");
            throw new Error("There isn't user data");
          }
        } else {
          console.error("El objeto de almacenamiento no existe en IndexedDB.");
          setUserData({ l: false, err: true });
        }
      } catch (err) {
        console.error(err);
        setUserData({ l: false, err: true });
        return new Error();
      }
    });
  } */

  // Ejecucion solo para rutas sin layout
  if (noLayout.includes($page.url.pathname)) {
    // L
  }
</script>

<main class="cnt-main">
  {#if $page.url.pathname === "/login" || $page.url.pathname === "/test"}
    <slot />
  {:else if $page.url.pathname === "/privacy" || $page.url.pathname === "/politics" || $page.url.pathname === "/help"}
    <main class="cnt-content-pages">
      <slot />
    </main>
    <Footer />
  {:else}
    <header class="cnt_header">
      <Header />
    </header>
    <NotiBarGen />
    <nav class="nav-layo">
      <NavbarMain />
    </nav>
    <div class="cnt-content-pages">
      <slot />
    </div>
  {/if}
</main>

<style>
  /* Principal container */
  .cnt-main {
    position: fixed;
    position: relative;
    display: flex;
    flex-direction: column;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 100dvh;
    background-color: var(--background-color);
    overflow-y: scroll;
    overflow-x: hidden;
  }

  /* Header contenedor */
  .cnt_header {
    position: relative;
    position: sticky;
    display: flex;
    flex-direction: column;
    top: 0;
    left: 0;
    max-width: 100vw;
    height: max-content;
    overflow-y: hidden;

    z-index: 10;
  }

  /* Container content in pages */
  .cnt-content-pages {
    position: sticky;
    top: 3rem;
    height: max-content;
    min-height: auto;
  }

  @media (min-width: 600px) {
    .cnt-main {
      display: grid;
      grid-template-columns: 14rem 1fr;
      grid-template-rows: auto 1fr;
    }

    .nav-layo {
      height: 100vh;
      width: 14rem;
      position: fixed;
      top: 0;
      left: 0;
      bottom: 0;
      overflow: hidden;
    }

    .cnt_header {
      grid-column: 2;
    }

    .cnt-content-pages {
      grid-column: 2;
    }

    /* Estilos para la barra de desplazamiento */
    ::-webkit-scrollbar {
      width: 8px;
      background-color: transparent;
    }

    /* Estilos para el riel de la barra de desplazamiento */
    ::-webkit-scrollbar-track {
      padding: 2px;
      background-color: transparent;
    }

    /* Estilos para el pulgar de la barra de desplazamiento */
    ::-webkit-scrollbar-thumb {
      background-color: var(--color-contrast-80-t);
      border-radius: 6px;
    }

    ::-webkit-scrollbar-thumb:hover {
      background-color: var(--color-contrast-160-t);
    }
  }
</style>
