<!-- Pagina de inicio -->

<script>
  import { getUserData } from "$lib/state";
  import { headerContent } from "$lib/stateContentHeader";

  import HomeHeaCont from "../components/HomeHeaCont.svelte";
  
  const userData = getUserData();

  headerContent.set(HomeHeaCont);
</script>

<section class="sec_home">
  <h2>Pagina principal bro</h2>

  <p>{$userData.loading ? 'Cargando' : ''}</p>
  <p>{$userData.error ? 'Error wey' : ''}</p>
  <p>{$userData.username ? $userData.username : ''}</p>

  <div class="boxtest" />
</section>

<style>
  .boxtest {
    margin: .5rem;
    background-color: rgba(255, 255, 255, 0.08);
    width: auto;
    height: 25rem;
    border-radius: 1.5rem;
  }
</style>
