<script>
  import IconOptions from "$lib/assets/components/IconOptions.svelte";
  import IconDownloadFile from "$lib/assets/components/IconDownloadFile.svelte";
  import IconArrowDown from "$lib/assets/components/IconArrowDown.svelte";
</script>

<div class="cont-bar">
  <section class="sec1-bar">
    <div class="cont-btn-opts">
      <button class="btn-opts">
        <IconOptions size="16" color="var(--color-contrast-700-t)" />
      </button>
    </div>
    <button class="btn-report">
      <IconDownloadFile size="16" color="var(--color-contrast-700)" />
      <p>Reporte</p>
    </button>
  </section>
  <section>
    <button class="btn-add">
      <p class="tx-add">Agregar</p>
      <div class="ry-add" />
      <span class="ico-cont">
        <IconArrowDown size="12" color="var(--background-color)" />
      </span>
    </button>
  </section>
</div>

<style>
  .cont-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: auto;
    height: 3rem;
    margin: 6px .5rem;
    padding: 0.5rem;
    background: var(--background-color-t-8);
    border: 1px solid var(--ry-gen);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    border-radius: 1.5rem;
    animation: init-ani 0.2s ease;
  }
  @keyframes init-ani {
    from {
      opacity: 0;
      transform: translateY(8px);
    }
    to {
      opacity: 1;
      transform: translateY(0px);
    }
  }

  /* Boton opciones */
  .btn-opts {
    display: grid;
    place-content: center;
    background-color: var(--color-contrast-80-t);
    width: 2rem;
    height: 2rem;
    border-radius: 1rem;
  }

  /* Seccion 1 */
  .sec1-bar {
    display: flex;
    gap: 0.5rem;
  }

  .btn-report {
    display: flex;
    align-items: center;
    gap: 6px;
    padding: 6px 12px 6px 8px;

    background: var(--color-contrast-80-t);
    border-radius: 1rem;
  }
  .btn-report p {
    color: var(--color-contrast-700);
    font-weight: 500;
    font-size: 14px;
    line-height: 14px;
  }

  /* Boton agregar */
  .btn-add {
    display: flex;
    align-items: center;
    background-color: var(--color-main);
    height: 2rem;
    border-radius: 1rem;
  }
  .tx-add {
    color: var(--background-color);
    font-size: 14px;
    font-weight: 600;
    margin: 0 12px;
  }
  .ry-add {
    background-color: var(--background-color);
    width: 2px;
    height: inherit;
  }
  .ico-cont {
    display: grid;
    place-items: center;
    width: 2rem;
    height: inherit;
  }
</style>
