<!-- ImageLoader.svelte -->
<script>
  export let data; // JSON con el identificador de la imagen
  const { name, img, subName, numStock, numVariants, priceEst, priceRet } =
    data;

  import { onMount } from "svelte";
  import { openDB } from "idb";
  import IconStock from "$lib/assets/components/IconStock.svelte";

  let imageUrl = "";
  let errorMessage = "";

  const loadImageFromIndexedDB = async (id) => {
    const db = await openDB("images", 1);
    const tx = db.transaction("images", "readonly");
    const store = tx.objectStore("images");
    const blob = await store.get(id);

    if (blob) {
      imageUrl = URL.createObjectURL(blob);
    } else {
      errorMessage =
        "No se encontró ninguna imagen en IndexedDB con el ID proporcionado.";
    }

    await tx.done;
  };

  onMount(async () => {
    if (!img) {
      errorMessage =
        "El JSON proporcionado no contiene un identificador de imagen válido.";
      return false;
    }
    await loadImageFromIndexedDB(img);
  });

  // ----
  function formatVal(number) {
    if (number >= 1000) {
      if (number < 1000000) {
        return (number / 1000).toFixed(0) + "k";
      } else {
        return (number / 1000000).toFixed(0) + "M";
      }
    } else {
      return number.toString();
    }
  }
</script>

<div class="card-prod">
  <div class="cont-img">
    <img class="img-pro" src={imageUrl} alt="Imagen cargada desde IndexedDB" />
  </div>
  <div class="pro-info">
    <h3 class="title-pro">{name}</h3>
    <p class="sub-title-pro">{subName ? subName : ""}</p>

    <div class="tag-var">
      {numVariants ? numVariants : "0"} Variante
    </div>
    <div class="cont-stock">
      <IconStock size="12" color="var(--color-contrast-600-t)" />
      <p class="tx-stock">Stock:</p>
      <p class="tx-nstock">{numStock ? numStock : "0"} Und</p>
    </div>
  </div>
  <div class="ry-div" />
  <div class="cont-down-pro">
    <div class="pro-info-down">
      <h4>Precio</h4>
      <p>${formatVal(priceEst.n1)} - ${formatVal(priceEst.n2)}</p>
    </div>
    <div class="pro-info-down">
      <h4>Venta por mayor</h4>
      <p>${formatVal(priceRet.n1)} - ${formatVal(priceRet.n2)}</p>
    </div>
  </div>
</div>

<style>
  .card-prod {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
    min-width: 10rem;
    border-radius: 1.5rem;
    background: var(--color-contrast-80-t);
    padding: 6px 6px 12px 6px;
  }
  .cont-img {
    display: flex;
    width: 100%;
    height: auto;
    aspect-ratio: 4/3;
    border-radius: 20px;
    overflow: hidden;
  }
  .img-pro {
    width: inherit;
    height: auto;
    object-fit: cover;
  }
  .pro-info {
    display: flex;
    flex-direction: column;
    margin: 0 6px;
  }
  .title-pro {
    font-weight: 700;
    font-size: 1rem;
    color: var(--font-cl-h1);
  }
  .sub-title-pro {
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    color: var(--color-contrast-500-t);
  }
  .tag-var {
    display: grid;
    place-content: center;
    border: 1px solid var(--color-main);
    width: max-content;
    height: 20px;
    padding: 0 0.5rem;
    border-radius: 0.5rem;
    font-weight: 500;
    font-size: 12px;
    color: #01ffe1;
    margin: 0.5rem 0 4px 0;
  }
  .cont-stock {
    display: flex;
    align-items: center;
    gap: 4px;
  }
  .tx-stock {
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: var(--color-contrast-600-t);
  }
  .tx-nstock {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: var(--font-cl-h1);
  }

  .ry-div {
    border-top: 1px solid var(--color-contrast-80-t);
    margin: 0 0.5rem;
  }

  .cont-down-pro {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin: 0 6px;
  }
  .pro-info-down h4 {
    font-weight: 300;
    font-size: 13px;
    line-height: 13px;
    color: var(--color-contrast-500-t);
  }
  .pro-info-down p {
    font-weight: 400;
    font-size: 14px;
    color: var(--font-cl-h1);
  }
</style>
