<script>
  export let size = 150; // Tamaño predeterminado del gráfico en píxeles
  export let progress = 50; // Progreso predeterminado (0-100)

  // Calcula el radio del círculo en base al tamaño del gráfico
  const radius = size / 2 - 6;
</script>

<div class="svg" style="min-width: {size}px; height: {size}px;">
  <svg viewBox="0 0 {size} {size}">
    <circle r={radius} cx={size / 2} cy={size / 2} class="progress2"></circle>
    <circle
      r={radius}
      cx={size / 2}
      cy={size / 2}
      class="progress"
      style="
        stroke-dasharray: {2 * Math.PI * radius}; 
        stroke-dashoffset: {((100 - progress) / 100) * 2 * Math.PI * radius};
      "
    >
    </circle>
    <text
      x={size / 2}
      y={size / 2}
      class="percentage"
      text-anchor="middle"
      dominant-baseline="central">{progress}%</text
    >
  </svg>
</div>

<style>
  .svg {
    display: inline-block;
  }
  .percentage {
    font-weight: 700;
    font-size: 1rem;
    fill: var(--font-cl-h1);
  }
  .progress2 {
    fill: none;
    stroke-width: 11;
    stroke: var(--color-contrast-160-t);
  }
  .progress {
    fill: none;
    stroke-width: 11;
    stroke: var(--color-contrast-700-t);
    transform: rotate(0deg);
    transform-origin: center;
    stroke-linecap: round;
    transition: stroke-dashoffset 0.3s;
  }
</style>
