<script>
  export let connContext;
  import SearchIcon from "../../../../components/icons/SearchIcon.svelte";
  import IconFilter from "$lib/assets/components/IconFilter.svelte";
  import IconArrowLeft from "$lib/assets/components/IconArrowLeft.svelte";

  const changeInput = (e) => {
    connContext.set({ value: e.target.value });
  };
</script>

<div class="cont-hea-inv">
  <a class="btn-back" href="/inventory">
    <IconArrowLeft size="12" color="var(--cl-font)" />
    <span class="tx-back">Volver</span>
  </a>

  <button class="btn-search">
    <span>
      <SearchIcon classN="img-search" size="16" color="var(--cl-ico)" />
    </span>
    <input
      type="text"
      placeholder="Buscar bodegas..."
      class="form-inp"
      on:keyup={changeInput}
    />
  </button>
  <button class="btn-filter">
    <IconFilter size="16" color="var(--cl-ico)" />
    <p class="tx-filter">Filtrar</p>
  </button>
</div>

<style>
  .cont-hea-inv {
    display: flex;
    align-items: center;
    gap: .5rem;
    width: 100%;
    max-width: 100%;
    height: 100%;
  }

  /* Boton de regreso */
  .btn-back {
    display: flex;
    align-items: center;
    gap: 4px;
    --cl-font: var(--color-contrast-700-t);
    border: 1px solid var(--ry-gen);
    padding: 6px .5rem;
    margin-right: auto;
    border-radius: 1rem;
  }
  .btn-back:hover {
    --cl-font: var(--font-cl-h1);
  }
  .tx-back {
    color: var(--cl-font);
    font-size: 14px;
    font-weight: 500;
    line-height: 14px;
  }

  .btn-filter {
    cursor: pointer;
    display: grid;
    place-items: center;
    --cl-btn: transparent;
    --cl-ico: var(--color-contrast-700-t);
    background-color: var(--cl-btn);
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
  }
  .tx-filter {
    display: none;
  }

  .btn-search {
    cursor: pointer;
    display: grid;
    place-items: center;
    width: 2rem;
    height: 2rem;

    --inp-cl: rgba(255, 255, 255, 0.16);
    --cl-btn: transparent;
    --cl-ico: var(--color-contrast-700-t);
    background: var(--cl-btn);
    border-radius: 50%;
  }
  .btn-search:hover {
    --cl-ico: var(--font-color);
    --cl-btn: var(--ry-gen);
  }
  .btn-search span {
    width: 1rem;
    height: 1rem;
  }

  .form-inp {
    display: none;
    width: 100%;
    height: 2.5rem;
    border-radius: 1rem;
    font-size: 15px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.92);
    padding: 0 0 0 12px;
  }
  .form-inp::placeholder {
    color: rgba(255, 255, 255, 0.24);
  }
  .form-inp:focus {
    --inp-cl: var(--color-contrast-160-t);
  }

  @media (min-width: 800px) {
    .cont-hea-inv {
      padding-left: .5rem;
    }
    .btn-search {
      cursor: text;
      border: 1px solid var(--color-contrast-160-t);
      display: flex;
      width: 40%;
      max-width: 24rem;
      height: 2.5rem;
      padding: 0 12px 0 12px;
      box-sizing: border-box;
      overflow: hidden;
      border-radius: 1rem;
    }
    .btn-search:hover {
      transition: 0.25s ease;
      border-color: var(--color-contrast-200-t);
      --cl-btn: transparent;
      --cl-ico: var(--color-contrast-700-t);
    }
    .form-inp {
      display: flex;
    }

    .btn-filter {
      background-color: var(--color-contrast-60-t);
      display: flex;
      gap: .5rem;
      width: max-content;
      height: 2.5rem;
      padding: 0 1rem 0 12px;
      border-radius: 1rem;
    }
    .btn-filter:hover {
      background-color: var(--color-contrast-80-t);
      --cl-ico: var(--font-cl-h1);
    }
    .tx-filter {
      display: block;
      color: var(--cl-ico);
      font-size: 16px;
      font-weight: 500;
    }
  }
</style>