<script>
  export let height, percent, color;
</script>

<div class="bar-cont" style={`--cl-input: ${color ? color : "var(--color-contrast-500-t)"}; height: ${height}; border-radius: ${height};`}>
  <div class="bar-per" style={`width: ${percent}%;`} />
</div>

<style>
  .bar-cont {
    background-color: var(--color-contrast-80-t);
    width: 100%;
  }
  .bar-per {
    background-color: var(--cl-input);
    height: inherit;
    border-radius: inherit;
  }
</style>