<script>
  // Componentes ---------------------------------------------
  import BarProgress from "./BarProgress.svelte";
  import { obtenerTiempoRelativo } from "$lib/scripts/timeRelative.js";

  // Recursos ---------------------------------------------
  import IconStoWare from "$lib/assets/components/IconStoWare.svelte";
  import IconOptions from "$lib/assets/components/IconOptions.svelte";

  // Props ------------------------------------------------
  export let data;
  const { name, proTotals, proStock, capMax, ubi, lastAct, id } = data;

  const percentCap = Math.min(Math.max((proTotals / capMax) * 100, 0), 100);
  const percentStock = Math.min(Math.max((proStock / capMax) * 100, 0), 100);

  // Diccionario de intervalos de tiempo en diferentes idiomas
  const intervalos = {
    año: "año",
    mes: "mes",
    semana: "semana",
    día: "día",
    hora: "hora",
    minuto: "minuto",
  };

  // Construir la frase de tiempo relativo
  const ultAct = new Date(lastAct);
  const { cantidad, intervalo } = obtenerTiempoRelativo(ultAct, intervalos);

  let tiempoRelativo;
  if (cantidad === 0) {
    tiempoRelativo = "Recientemente";
  } else {
    tiempoRelativo = `Hace ${cantidad} ${intervalo}${cantidad === 1 || intervalo == "mes" ? "" : "s"}${cantidad > 1 && intervalo == "mes" ? "es" : ""}`;
  }

  // Estados -----------------------------
  let optCard = false;
</script>

<div class="cont-warehouse">
  <header class="ware-hea">
    <section class="hea-sec1">
      <span class="ico-ware">
        <IconStoWare width="auto" height="16" color="var(--font-cl-h1)" />
      </span>
      <h2 class="sec1-name">{name}</h2>
    </section>
    <section class="hea-sec2">
      <button
        class="btn-options"
        style={`background: ${optCard ? "var(--color-contrast-80-t)" : "transparent"};`}
        on:click={() => (optCard = !optCard)}
      >
        <IconOptions size="16" color="var(--color-contrast-700-t)" />
      </button>
      {#if optCard}
        <div class="ware-menu">
          <button class="ware-menu-btn">Editar</button>
          <button class="ware-menu-btn btn-del">Eliminar</button>
        </div>
      {/if}
    </section>
  </header>

  <a class="ware-content" href={`/inventory/${id}`}>
    <article class="content-card-1">
      <div class="card-1-row">
        <h3>Total Productos:</h3>
        <p>{proTotals} Und</p>
      </div>
      <div class="card-1-row">
        <h3>Capacidad Max:</h3>
        <p>{capMax} Und</p>
      </div>
      <div class="card-1-row">
        <h3>Ubicación:</h3>
        <p>{ubi.city}, {ubi.country}</p>
      </div>
    </article>

    <article class="content-card-2">
      <div class="sec-card-2">
        <div class="tx-card-2">
          <h3>
            Capacidad <p>{proTotals}/{capMax}</p>
          </h3>
          <p>{percentCap}%</p>
        </div>
        <BarProgress height="4px" percent={percentCap} />
      </div>
      <div class="sec-card-2">
        <div class="tx-card-2">
          <h3>
            Stock <p>{proStock}/{capMax}</p>
          </h3>
          <p>{percentStock}%</p>
        </div>
        <BarProgress height="4px" percent={percentStock} />
      </div>
    </article>
  </a>

  <a class="ware-last-act" href={`/inventory/${id}`}>
    <div class="ry-div" />
    <article>
      <h4>Ultima modificion:</h4>
      <p>{tiempoRelativo}</p>
    </article>
  </a>
</div>

<style>
  .cont-warehouse {
    cursor: pointer;
    background-color: var(--color-contrast-60-t);
    border: 1px solid transparent;
    border-radius: 1.5rem;
    width: 100%;
    height: max-content;
    overflow: hidden;
  }
  .cont-warehouse:hover {
    transition: 0.3s ease;
    background-color: var(--color-contrast-80-t);
    border: 1px solid var(--color-contrast-80-t);
  }

  /* Header de contenido */
  .ware-hea {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--ry-gen);
    padding: 0 0.5rem 0 0;
    height: 2.5rem;
  }

  .hea-sec1 {
    display: flex;
    align-items: center;
    gap: 6px;
    padding: 0 0 0 1rem;
  }
  .ico-ware {
    display: grid;
    place-items: center;
    width: max-content;
    height: 1rem;
  }
  .sec1-name {
    color: var(--font-cl-h1);
    font-size: 16px;
    font-weight: 500;
  }

  .hea-sec2 {
    position: relative;
    display: grid;
    place-items: center;
    width: max-content;
    height: inherit;
  }
  .btn-options {
    cursor: pointer;
    display: grid;
    place-items: center;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
  }
  .btn-options:hover {
    background-color: var(--color-contrast-80-t) !important;
  }
  .ware-menu {
    position: absolute;
    top: 100%;
    right: 0;
    margin-top: 4px;

    display: flex;
    flex-direction: column;
    padding: 4px;
    width: auto;
    height: auto;
    border: 1px solid var(--color-contrast-60-t);
    background: rgba(24, 30, 37, 0.8);
    backdrop-filter: blur(12px);
    border-radius: 1rem;
    animation: init-menu 0.25s ease;
  }
  @keyframes init-menu {
    from {
      opacity: 0;
      transform: translateY(-4px);
    }
    to {
      opacity: 1;
      transform: translateY(0px);
    }
  }

  .ware-menu-btn {
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 8px 12px;
    gap: 10px;

    font-size: 14px;
    font-weight: 500;
    color: var(--color-contrast-700-t);

    width: 8rem;
    height: auto;

    border-radius: 12px;
  }
  .ware-menu-btn:hover {
    background: var(--color-contrast-60-t);
    color: var(--font-cl-h1);
  }
  .btn-del {
    color: var(--color-error);
  }
  .btn-del:hover {
    color: var(--color-error);
    background-color: var(--color-error-back);
  }

  /* Contenido */
  .ware-content {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 0.5rem;
  }

  .content-card-1 {
    background-color: var(--color-contrast-60-t);
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 12px;
    border-radius: 1rem;
  }
  .card-1-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .card-1-row h3 {
    color: var(--color-contrast-500-t);
    font-size: 14px;
    line-height: 14px;
    font-weight: 400;
  }
  .card-1-row p {
    color: var(--font-cl-h1);
    font-size: 14px;
    line-height: 14px;
    font-weight: 400;
  }

  .content-card-2 {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: var(--background-color);
    padding: 12px;
    border-radius: 1rem;
  }

  .sec-card-2 {
    display: flex;
    flex-direction: column;
    gap: 6px;
  }
  .tx-card-2 {
    display: flex;
    justify-content: space-between;
  }
  .tx-card-2 h3 {
    display: flex;
    gap: 6px;
    color: var(--color-contrast-500-t);
    font-size: 14px;
    line-height: 14px;
    font-weight: 400;
  }
  .tx-card-2 h3 p {
    color: var(--color-contrast-700-t);
  }
  .tx-card-2 p {
    color: var(--color-contrast-700-t);
    font-size: 14px;
    line-height: 14px;
  }

  /* Contenedor de ultima modificacion */
  .ware-last-act {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin: 0 1rem 12px 1rem;
  }
  .ry-div {
    border-top: 1px solid var(--ry-gen);
  }
  .ware-last-act article:nth-child(2) {
    display: flex;
    align-items: center;
    gap: 6px;
  }
  .ware-last-act article:nth-child(2) h4 {
    color: var(--color-contrast-300-t);
    font-size: 12px;
    line-height: 12px;
    font-weight: 300;
  }
  .ware-last-act article:nth-child(2) p {
    color: var(--color-contrast-500-t);
    font-size: 12px;
    list-style: 12px;
    font-weight: 400;
  }
</style>
