<footer class="foo_page">
  <p>Copyright © 2024 Jeisson León and Lion Team Org - Moralba Co,.</p>
</footer>

<style>
  .foo_page {
    display: flex;
    border-top: 1px solid var(--ry-gen);
    bottom: 0;
    left: 0;
    margin-top: auto;
    padding: 1rem;
    width: auto;
    height: auto;
  }
  .foo_page p {
    text-align: center;
    font-size: 13px;
    font-weight: 300;
    color: var(--color-contrast-500-t);
  }
</style>