<script>
  import LoadingHea from "./LoadingHea.svelte";
  import { headerContent, connContext } from "$lib/stateContentHeader";

  let component;

  headerContent.set(LoadingHea);
  headerContent.subscribe((value) => {
    component = value;
  });
</script>

<section class="cnt-sec1">
  <div class="cont-inserted">
    {#if component !== null || component !== false}
      <svelte:component this={component} {connContext} />
    {/if}
  </div>
  <div class="ry-div" />
  <div class="btn-menu">
    <img class="pic-profile" src="/pic-profile.png" alt="Puto" />
    <span>
      <h4>Jeisson Leon</h4>
      <p>Administrador</p>
    </span>
  </div>
</section>
<div class="ry-hea" />

<style>
  .cnt-sec1 {
    display: flex;
    background: hsla(212, 100%, 3%, 0.92);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    padding: 0 0 0 0.5rem;
  }

  /* Linea divisora */
  .ry-hea {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: auto;
    margin-left: 1rem;
    border-top: 1px solid var(--ry-gen);

    z-index: 11;
  }

  /* Campo de insercion */
  .cont-inserted {
    width: 100%;
    height: inherit !important;
  }

  .btn-menu {
    display: grid;
    place-items: center;
    height: 3rem;
    padding: 0.5rem;
    margin-left: auto;
  }
  .ry-div {
    display: none;
  }
  .btn-menu span {
    display: none;
  }
  .pic-profile {
    height: 2rem;
    width: 2rem;
    object-fit: cover;
    border-radius: 1rem;
  }

  @media (min-width: 600px) {
    .cnt-sec1 {
      height: 3.5rem;
      align-items: center;
      padding: 0 0.5rem;
    }
    .btn-menu {
      display: flex;
      align-items: center;
      gap: 6px;
    }
    .btn-menu span {
      display: flex;
      flex-direction: column;
      width: max-content;
    }
    .btn-menu span h4 {
      color: var(--font-cl-h1);
      font-size: 1rem;
      font-weight: 500;
    }
    .btn-menu span p {
      color: var(--color-contrast-500-t);
      font-size: 12px;
      line-height: 12px;
      font-weight: 300;
    }

    .ry-div {
      display: block;
      border-right: 1px solid var(--color-contrast-80-t);
      margin: 0 0.5rem 0 .5rem;
      height: 2rem;
    }
  }
</style>
