<script>
</script>

<div class="cont-hea-home">
  <enhanced:img src="$lib/assets/icon-flowstock-sexy.svg?enhanced" alt="FlowStock" />
  <section class="hea-sec-wel">
    <h3>Bienvenido</h3>
    <h2>Jeisson Leon</h2>
  </section>
</div>

<style>
  .cont-hea-home {
    display: flex;
    align-items: center;
    padding-left: .5rem;
    width: inherit;
    height: 100%;
  }

  /* Seccion de bienvenida de cabecera */
  .hea-sec-wel {
    display: grid;
    gap: 2px;
    margin-left: .5rem;
  }
  .hea-sec-wel h3 {
    color: var(--color-contrast-500-t);
    font-size: 10px;
    font-weight: 300;
    line-height: 10px;
  }
  .hea-sec-wel h2 {
    color: var(--color-contrast-700-t);
    font-size: 16px;
    font-weight: 600;
    line-height: 16px;
  }
</style>
