<section class="cont-box-loa-hea">
  <div class="box-loa-hea" />
</section>

<style>
  .cont-box-loa-hea {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  .box-loa-hea {
    width: 100%;
    height: 2rem;
    background: var(--color-contrast-80-t);
    border-radius: 0.5rem;
    position: relative;
    overflow: hidden;
  }

  .box-loa-hea::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      to left,
      rgba(0, 0, 0, 0),
      var(--color-contrast-80-t),
      rgba(0, 0, 0, 0)
    );
    animation: onda .6s linear infinite; 
  }

  @keyframes onda {
    0% {
      left: -100%;
      width: 100%;
    }
    100% {
      left: 100%;
      width: 100%;
    }
  }
</style>
