<!-- Componente plantilla de modal para el uso general -->
<script>
  export let showModalState;
  export let modalContent;

  import LogoIcon from "./icons/LogoIcon.svelte";

  // Configuracion para el modal
  let { sysClose, userClose, maxWidth, displayBackScreen } = modalContent.modalConfig;

  // Componente de entrada
  let { component } = modalContent.modalCont;

  // Metodo para el cierre del modal
  function closeModal() {
    showModalState = false;
  }
</script>

<!-- Modal card -->
<div class="modal-body" style={`max-width: ${maxWidth};`}>
  <header class="modal-header-cont">
    <span class="lg-icon">
      <LogoIcon colorPrin="#fff" colorSec="#999" size="40" />
    </span>
    <button
      class="btn-close"
      style="display: {userClose ? 'flex' : 'none'};"
      on:click={closeModal}
    >
      <svg
        width="16"
        height="16"
        viewBox="0 0 16 16"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
        ><path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M.372 13.833a1.27 1.27 0 0 0 1.795 1.795L8 9.795l5.833 5.833a1.27 1.27 0 0 0 1.795-1.795L9.795 8l5.833-5.833A1.27 1.27 0 1 0 13.833.372L8 6.205 2.167.372A1.27 1.27 0 0 0 .372 2.167L6.205 8 .372 13.833Z"
          fill="#8397AF"
        />
      </svg>
    </button>
  </header>

  <!-- Cuerpo del contenido del modal -->
  <main class="modal-main-cont">
    {#if sysClose}
      <svelte:component this={component} {closeModal} />  
    {:else}
      <svelte:component this={component} />
    {/if}
  </main>
</div>

<!-- Capa de no visualizacion de contenido -->
<!-- svelte-ignore a11y-click-events-have-key-events -->
<!-- svelte-ignore a11y-no-static-element-interactions -->
{#if displayBackScreen}
  <div
    class="modal-backg-cont"
    style="display: {showModalState ? 'block' : 'none'};"
    on:click={userClose ? closeModal : null}
  />
{/if}

<style>
  .modal-backg-cont {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100svh;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.72);
    z-index: 10;
  }

  .modal-body {
    opacity: 0;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 100%;
    max-width: auto;
    height: max-content;
    min-height: 4.5rem;
    background-color: hsl(212, 24%, 8%);
    border-radius: 1.5rem 1.5rem 0 0;
    padding: 2rem 0 0 0;
    overflow: hidden;
    animation: desanimation 0.25s ease forwards;

    z-index: 11;
  }
  @keyframes desanimation {
    from {
      opacity: 0;
      transform: translateY(8px);
    }
    to {
      opacity: 1;
      transform: translateY(0px);
    }
  }

  /* Header de modal */
  .modal-header-cont {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 1rem 1rem 0 1rem;
    width: inherit;
    height: max-content;
    z-index: 12;
  }

  /* Logo flotante Lion Team Org */
  .lg-icon {
    width: 2.5rem;
    height: 2.5rem;
  }

  /* Boton close */
  .btn-close {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.5rem;
    height: 2.5rem;
    background-color: #23262b;
    border-radius: 20px;
    --cl-hover: #8397af;
  }
  .btn-close:hover {
    --cl-hover: #c1cbd7;
  }
  .btn-close svg {
    height: 1rem;
    width: 1rem;
  }
  .btn-close svg path {
    fill: var(--cl-hover);
  }

  /* ---- Configuracion de responsive ---- */
  @media (min-width: 600px) {
    .modal-body {
      margin: 0;
      border-radius: 1.5rem;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) !important;
    }
  }
</style>
