<!-- Componente de navegación para dispositivos móviles -->
<script context="module">
  import NavMobi from "./nav/NavMobi.svelte";
  import NavDesk from "./nav/NavDesk.svelte";
</script>

<script>
  let windowWidth;

  $: console.log(windowWidth);
</script>

<svelte:window bind:innerWidth={windowWidth} />

{#if windowWidth >= 600}
  <NavDesk />
{:else if windowWidth < 600}
  <NavMobi />
{/if}
