<script>
  let email = "jeis@test.com";
  let username = "Tu perra";
  let acceptContri = true;
  let statusReg = { ready: "", error: "" };

  const signUp = async () => {
    console.log('Aqui ejecutando wey')

    const response = await fetch("/api/create-user", {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
      },
      body: JSON.stringify({
        email,
        acceptContri,
        username,
      }),
    });

    if (response.ok) {
      statusReg.ready = "Se creo el usuario perra guapa, Muak!!";

      // Redireccionar al usuario a la página de inicio después del registro exitoso
      setTimeout(() => {
        window.location.href = "/login";
      }, 2000);
    } else {
      // Manejar errores de registro
      statusReg.error = await response.text();
    }
  };
</script>

<h1>Registro</h1>

{#if statusReg}
  {#if statusReg.error}
    <p style="color: red;">{statusReg.error}</p>
  {/if}
  {#if statusReg.ready}
    <p style="color: green;">{statusReg.ready}</p>
  {/if}
{/if}

<form on:submit|preventDefault={signUp}>
  <button type="submit">Registrarse</button>
</form>
