<script>
  import CryptoJS from "crypto-js";
  import { openDB } from "idb";

  // Recursos -----------
  import tagStep1 from "$lib/assets/tagUpStep1.svg";
  import iconCookies from "$lib/assets/icon_cookies.svg";
  import LogoIcon from "./icons/LogoIcon.svelte";
  import LoadingIcon from "./icons/LoadingIcon.svelte";
  import ReadyIcon from "./icons/ReadyIcon.svelte";
  import ErrorIconSad from "./icons/ErrorIconSad.svelte";

  // Informacion de los slider y sus pasos -----------
  let currentStep = 1;
  const totalSteps = 3;

  /* Variables para la referencia de altura, esto es para que cada paso tenga la altura del contendio automaticamente (Es un problema de diseño) */
  let stepRef1, stepRef2, stepRef3;
  let acceptButtonEnabled; // Estado del boton de guardado en registro

  /* Estructura para el registro de datos de usuario */
  let formData = {
    username: "",
    email: "",
    acceptContri: false,
  };

  /* Estados de guardado de datos */
  let savingDataState = {
    savingProcess: false,
    loadingState: false,
    readyProcess: false,
    errorProcess: false,
  };

  const nextStep = () => {
    if (currentStep < totalSteps) {
      if (currentStep === 3 && !acceptButtonEnabled) {
        return;
      }
      currentStep += 1;
    }
  };
  const prevStep = () => {
    if (currentStep > 1) {
      currentStep -= 1;
    }
  };

  const handleInputChange = (event) => {
    formData = {
      ...formData,
      [event.target.id]:
        event.target.type === "checkbox"
          ? event.target.checked
          : event.target.value,
    };
    acceptButtonEnabled =
      formData.username.trim() !== "" && formData.email.trim();
  };

  const saveToIndexedDB = async (formResponse) => {
    // Datos de respuesta cifrados
    const { idUser, username, email, acceptContri } = formResponse;

    // Escepcion para evitar entradas nulas
    if (!idUser || !email || !username || !acceptContri) {
      return Error("Missing fields bitch !!");
    }

    const db = await openDB("uDDB", 1, {
      upgrade(db) {
        db.createObjectStore("uDStore");
      },
    });

    const tx = db.transaction("uDStore", "readwrite");
    const uDStore = tx.objectStore("uDStore");
    uDStore.put(formResponse.idUser, "i");
    uDStore.put(formResponse.username, "u");
    uDStore.put(formResponse.email, "e");
    uDStore.put(formResponse.acceptContri, "a");

    await tx.done;
  };

  const isNonEmptyString = (value) =>
    typeof value === "string" && value.trim() !== "";

  const isValidEmail = (email) => {
    const emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
    return emailRegex.test(email.trim());
  };

  const handleClickForm = async () => {
    const isUsernameValid = isNonEmptyString(formData.username);
    const isEmailValid =
      isNonEmptyString(formData.email) && isValidEmail(formData.email);

    if (!isUsernameValid && !isEmailValid) {
      console.error(
        "Por favor, ingrese un nombre de usuario y un correo electrónico válidos."
      );
      return;
    }
    if (!isUsernameValid) {
      console.error("Por favor, ingrese un nombre de usuario válido.");
      return;
    }
    if (!isEmailValid) {
      console.error("El formato del correo electrónico no es válido.");
      return;
    }

    try {
      savingDataState.savingProcess = true;
      savingDataState.loadingState = true;

      const response = await fetch("/api/signup", {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify(formData),
      });

      if (response.ok) {
        const data = await response.json();
        await saveToIndexedDB(data);

        savingDataState.loadingState = false;
        savingDataState.readyProcess = true;

        setTimeout(() => {
          window.location.href = "/";
        }, 1000);
      } else {
        savingDataState.loadingState = false;
        savingDataState.errorProcess = true;
        return Error("Error en el servidor :((");
      }
    } catch {
      savingDataState.loadingState = false;
      savingDataState.errorProcess = true;
      console.error("Error al guardar datos");
    }
  };
</script>

<div class="container">
  {#if !savingDataState.savingProcess}
    <div
      class="steps-container"
      style={`
      transform: translateX(-${(currentStep - 1) * 100}%);
      height: ${
        currentStep === 1 && stepRef1
          ? stepRef1.clientHeight + "px"
          : currentStep === 2 && stepRef2
            ? stepRef2.clientHeight + "px"
            : currentStep === 3 && stepRef3
              ? stepRef3.clientHeight + "px"
              : "auto"
      };`}
    >
      <div
        class={`step-content step1`}
        bind:this={stepRef1}
        style={`opacity: ${currentStep === 1 ? 1 : 0}`}
      >
        <img src={tagStep1} alt="Simplifica tu flujo de inventario" />
        <h2>Bienvenido a FlowStock: Simplificando tu inventario</h2>
        <p class="tx_normal">
          ¡Bienvenido a FlowStock! Tu solución intuitiva para simplificar y
          optimizar tu flujo de trabajo de inventario. Estamos emocionados de
          tenerte a bordo. Este proceso te guiará paso a paso para personalizar
          tu experiencia.
        </p>
      </div>
      <div
        class={`step-content step2`}
        bind:this={stepRef2}
        style={`opacity: ${currentStep === 2 ? 1 : 0}`}
      >
        <img src={iconCookies} alt="Icon Cookies" />
        <h2>Aviso de Cookies y Datos Locales</h2>
        <p class="tx_normal">
          Al continuar navegando, aceptas nuestra <a href="/politics"
            >Política de Uso</a
          >
          y <a href="/privacy">Política de Privacidad</a>, las cuales explican
          cómo recopilamos, utilizamos y salvaguardamos tus datos.
        </p>
        <span class="step2-cont-lg-icon">
          <LogoIcon colorPrin="#fff" colorSec="#999" size="32" />
        </span>
      </div>
      <div
        class={`step-content step3`}
        bind:this={stepRef3}
        style={`opacity: ${currentStep === 3 ? 1 : 0}`}
      >
        <form class="form-main" action="" method="post">
          <h2>¡Registrate para comenzar!</h2>

          <label class="form-label-inp" for="username"
            >Nombre de Usuario: <span>*</span></label
          >
          <input
            class="form-inp"
            bind:value={formData.username}
            type="text"
            id="username"
            required
            on:input={handleInputChange}
            placeholder="Escribe tu nombre"
          />

          <label class="form-label-inp" for="email"
            >Correo Electrónico: <span>*</span></label
          >
          <input
            class="form-inp"
            bind:value={formData.email}
            type="email"
            id="email"
            required
            on:input={handleInputChange}
            placeholder="Escribe tu correo electronico"
          />
          <div class="ry-div" />

          <div class="check-cont">
            <div>
              <input
                class="check-input"
                type="checkbox"
                id="switch"
                bind:checked={formData.acceptContri}
                on:change={handleInputChange}
              />
              <label class="check-label" for="switch">T</label>
            </div>
            <p class="check-txt">
              <span>Activar contribución automatica</span> (Para la recoleccion de
              errores)
            </p>
          </div>

          <div class="cont-help">
            <p>¿Necesitas ayuda? <a href="/help">Ayuda y soporte</a></p>
          </div>
        </form>
      </div>
    </div>

    <div class="circle-group">
      {#each Array(totalSteps) as _, index}
        <div
          class={`circle ${currentStep === index + 1 ? "active" : ""}`}
        ></div>
      {/each}
    </div>

    <div class="navigation-buttons">
      {#if currentStep > 1}
        <button on:click={prevStep} class="btn-normal-ant btn">Anterior</button>
      {/if}
      {#if currentStep < 3}
        <button
          on:click={nextStep}
          disabled={currentStep === totalSteps}
          class="btn-normal btn">Siguiente</button
        >
      {:else}
        <button
          on:click={handleClickForm}
          disabled={!acceptButtonEnabled}
          class:btn-accept-des={!acceptButtonEnabled}
          class:btn-accept={acceptButtonEnabled}
          class="btn"
        >
          Guardar
        </button>
      {/if}
    </div>
  {:else}
    <div class="cont-process">
      {#if savingDataState.loadingState}
        <LoadingIcon width={40} height={40} timeAnimation={"0.3s"} />
      {/if}
      {#if savingDataState.readyProcess}
        <ReadyIcon width={40} height={40} />
      {/if}
      {#if savingDataState.errorProcess}
        <div class="cont-process-error">
          <ErrorIconSad height={40} timeAnimation={"0s"} />
          <div class="info-cont-process-error">
            <h4>Ocurrio un problema</h4>
            <a
              href="/login"
              class="btn-try-error btn"
              on:click={() => window.location.reload()}
            >
              Volver a intentar
            </a>
          </div>
        </div>
      {/if}
    </div>
  {/if}
</div>

<style>
  .container {
    height: max-content;
    overflow: hidden;
  }

  .steps-container {
    display: flex;
    width: auto;
    margin-bottom: 1.5rem;
    transition: height 0.2s ease;
  }

  .step-content {
    flex: 0 0 100%;
    width: 100%;
    height: max-content;
    padding: 0 0.5rem;
    transition: all 0.2s ease;
    overflow-y: hidden;
    z-index: 11;
  }

  /* Estilos general de texto en slide */
  .tx_normal {
    font-size: 15px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.6);
    text-align: center;
    margin: 0 0.5rem;
  }
  .tx_normal a {
    color: var(--color-main);
  }
  /* Estilos de raya divisora */
  .ry-div {
    border-top: 1px solid rgba(245, 245, 245, 0.08);
    width: auto;
  }

  /* ----- Estilos de paso 1 ----- */
  .step1 {
    height: max-content;
  }
  .step1 img:nth-child(1) {
    width: 100%;
    height: 1.8rem;
    margin-bottom: 0.5rem;
  }
  .step1 h2:nth-child(2) {
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    background: radial-gradient(
      50.13% 100% at 50.13% 0%,
      #f5f5f5 0%,
      rgba(245, 245, 245, 0.6) 100%
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 1rem;
  }

  .step2 {
    width: auto;
    height: max-content;
  }
  .step2 img:nth-child(1) {
    width: 100%;
    height: 5rem;
    margin-bottom: 0.5rem;
  }
  .step2 h2:nth-child(2) {
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    background: radial-gradient(
      50.13% 100% at 50.13% 0%,
      #f5f5f5 0%,
      rgba(245, 245, 245, 0.6) 100%
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 1rem;
  }
  .step2-cont-lg-icon {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 1rem;
  }

  .step3 {
    height: max-content;
    padding: 2rem 1rem 0;
  }
  .form-main {
    display: flex;
    flex-direction: column;
  }
  .step3 h2 {
    background: radial-gradient(
      49.87% 100% at 0% 0%,
      #fff 0%,
      rgba(255, 255, 255, 0.5) 100%
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 1rem;
  }
  .form-label-inp {
    font-size: 14px;
    font-weight: 400;
    width: max-content;
    color: rgba(245, 245, 245, 0.8);
    margin-bottom: 0.5rem;
  }
  .form-label-inp span {
    color: #fe0000;
  }

  .form-inp {
    height: 2.5rem;
    border-radius: 1rem;
    --inp-cl: rgba(255, 255, 255, 0.16);
    border: 1px solid var(--inp-cl);
    font-size: 15px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.92);
    padding: 0 1rem;
    margin-bottom: 1rem;
  }
  .form-inp::placeholder {
    color: rgba(255, 255, 255, 0.24);
  }
  .form-inp:hover {
    --inp-cl: rgba(255, 255, 255, 0.32);
  }
  .form-inp:focus {
    --inp-cl: rgba(255, 255, 255, 0.32);
  }
  .form-inp:valid {
    --inp-cl: var(--ready-color);
  }

  /* Estilos del checkbox */
  .check-cont {
    display: flex;
    margin-top: 1rem;
  }
  .check-cont div:nth-child(1) {
    display: flex;
    margin-right: 0.5rem;
  }
  .check-input {
    height: 0;
    width: 0;
    visibility: hidden;
  }

  .check-label {
    cursor: pointer;
    text-indent: -9999px;
    width: 42px;
    height: 24px;
    display: block;
    border-radius: 1rem;
    position: relative;
    --act-color: rgba(255, 255, 255, 0.24);
    border: 1px solid var(--act-color);
    overflow: hidden;
  }
  .check-label:hover {
    --act-color: rgba(255, 255, 255, 0.32);
  }
  .check-label:after {
    content: "";
    position: absolute;
    top: 3px;
    left: 3px;
    width: 16px;
    height: 16px;
    background: var(--act-color);
    border-radius: 50%;
    transition: 0.2s ease;
  }

  .check-input:checked + .check-label {
    --act-color: var(--ready-color);
  }
  .check-input:checked + .check-label:after {
    left: calc(100% - 3px);
    transform: translateX(-100%);
  }

  .check-txt {
    font-weight: 400;
    font-size: 15px;
    color: rgba(245, 245, 245, 0.6);
  }
  .check-txt span {
    font-weight: 500;
    color: rgba(245, 245, 245, 0.8);
  }

  .cont-help {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    width: auto;
  }
  .cont-help p {
    font-size: 13px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
  }
  .cont-help p a {
    color: var(--color-main);
  }

  /* Estilos de circulos guia */
  .circle-group {
    border: 1px solid rgba(245, 245, 245, 0.16);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    width: max-content;
    height: 20px;
    margin: auto;
    padding: 6px;
    border-radius: 1rem;
  }
  .circle {
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: rgba(245, 245, 245, 0.5);
    display: inline-block;
  }
  .active {
    background-color: var(--color-main);
  }

  .navigation-buttons {
    display: flex;
    gap: 1rem;
    width: auto;
    height: 2.5rem;
    margin: 1rem;
  }

  .btn {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
  }

  .btn-normal {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 2.5rem;
    background-color: var(--color-main);
    border-radius: 1rem;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 500;
    color: #000;
  }
  .btn-normal-ant {
    cursor: pointer;
    padding: 0 2rem;
    background-color: rgba(245, 245, 245, 0.08);
    border-radius: 1rem;
    font-size: 1rem;
    font-weight: 400;
    color: rgba(245, 245, 245, 0.8);
  }

  .btn-accept {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 16px;
    font-weight: 500;
    color: black;
    background-color: var(--color-main);
    border: 1rem;
    border-radius: 1rem;
    cursor: pointer;
  }
  .btn-accept-des {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 16px;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.24);
    border: 1px solid rgba(255, 255, 255, 0.24);
    border-radius: 1rem;
    cursor: not-allowed;
  }

  /* Contenedor de proceso de guardado */
  .cont-process {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: max-content;
    padding: 2rem 0;
    margin: 0 0 2rem 0;
  }

  /* Contendor en el proceso de error */
  .cont-process-error {
    display: flex;
    align-items: center;
    gap: 12px;
    height: max-content;
    animation: interror 0.3s ease;
  }

  @keyframes interror {
    from {
      opacity: 0;
      transform: translateY(8px);
    }
    to {
      opacity: 1;
      transform: translateY(0px);
    }
  }

  .info-cont-process-error {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 6px;
    height: auto;
  }

  .info-cont-process-error h4 {
    color: var(--color-contrast-500);
    font-size: 12px;
    line-height: 12px;
    font-weight: 300;
  }

  .btn-try-error {
    background-color: var(--color-contrast-60-t);
    color: var(--font-cl-800);
    font-size: 14px;
    line-height: 14px;
    font-weight: 400;
    display: flex;
    align-items: center;
    width: max-content;
    height: 1.5rem;
    padding: 0 12px;
    border-radius: 1rem;
  }
  .btn-try-error:hover {
    color: var(--font-cl-h1);
  }

</style>
