<!-- ImageUploader.svelte -->

<script>
  let currentStep = 1;
  const totalSteps = 3;

  const nextStep = () => {
    if (currentStep < totalSteps) {
      currentStep += 1;
    }
  };
  const prevStep = () => {
    if (currentStep > 1) {
      currentStep -= 1;
    }
  };
</script>

<div class="container">
  <div
    class="steps-container"
    style={`transform: translateX(-${(currentStep - 1) * 100}%);`}
  >
    <div class="step-content step1" style={`opacity: ${currentStep === 1 ? 1 : 0}`}>
      Slide 1
    </div>
    <div class="step-content step2" style={`opacity: ${currentStep === 2 ? 1 : 0}`}>
      Slide 2
    </div>
    <div class="step-content step3" style={`opacity: ${currentStep === 3 ? 1 : 0}`}>
      Slide 3
    </div>
  </div>

  <div class="circle-group">
    {#each Array(totalSteps) as _, index}
      <div class={`circle ${currentStep === index + 1 ? "active" : ""}`}></div>
    {/each}
  </div>

  <div class="navigation-buttons">
    {#if currentStep > 1}
      <button on:click={prevStep} class="btn-normal-ant btn">Anterior</button>
    {/if}
    {#if currentStep < 3}
      <button on:click={nextStep} class="btn-normal btn">Siguiente</button>
    {/if}
  </div>
</div>

<style>
  .container {
    height: max-content;
    overflow: hidden;
  }

  .steps-container {
    display: flex;
    width: auto;
    margin-bottom: 1.5rem;
    transition: height 0.2s ease;
  }

  .step-content {
    flex: 0 0 100%;
    width: 100%;
    height: max-content;
    padding: 0 0.5rem;
    transition: all 0.2s ease;
    overflow-y: hidden;
    z-index: 11;
  }

  .circle-group {
    border: 1px solid rgba(245, 245, 245, 0.16);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    width: max-content;
    height: 20px;
    margin: auto;
    padding: 6px;
    border-radius: 1rem;
  }
  .circle {
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: rgba(245, 245, 245, 0.5);
    display: inline-block;
  }
  .active {
    background-color: var(--color-main);
  }

  .navigation-buttons {
    display: flex;
    gap: 1rem;
    width: auto;
    height: 2.5rem;
    margin: 1rem;
  }

  .btn {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
  }

  .btn-normal {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 2.5rem;
    background-color: var(--color-main);
    border-radius: 1rem;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 500;
    color: #000;
  }
  .btn-normal-ant {
    cursor: pointer;
    padding: 0 2rem;
    background-color: rgba(245, 245, 245, 0.08);
    border-radius: 1rem;
    font-size: 1rem;
    font-weight: 400;
    color: rgba(245, 245, 245, 0.8);
  }
</style>



<!-- <script>
  import { onMount } from 'svelte';
  import { openDB } from 'idb';
  import { v4 as uuidv4 } from 'uuid';

  let successMessage = '';
  let imageUrl = '';

  const handleImageUpload = async (event) => {
    const file = event.target.files[0];
    const id = uuidv4();
    await saveImageToIndexedDB(id, file);
    successMessage = 'Imagen guardada correctamente.';
    await loadImageFromIndexedDB(id);
  };

  const saveImageToIndexedDB = async (id, imageFile) => {
    const db = await openDB('images', 1, {
      upgrade(db) {
        db.createObjectStore('images');
      },
    });

    const tx = db.transaction('images', 'readwrite');
    const store = tx.objectStore('images');
    const blob = new Blob([imageFile], { type: imageFile.type });
    await store.put(blob, id);

    console.log('Imagen guardada en IndexedDB con ID:', id);
    await tx.done;
  };

  const loadImageFromIndexedDB = async (id) => {
    const db = await openDB('images', 1);
    const tx = db.transaction('images', 'readonly');
    const store = tx.objectStore('images');
    const blob = await store.get(id);

    if (blob) {
      const jsonWithImage = { img: { id: id, blob: blob } };
      console.log('Imagen cargada desde IndexedDB:', jsonWithImage);
      imageUrl = URL.createObjectURL(blob);
    } else {
      console.error('No se encontró ninguna imagen en IndexedDB con ID:', id);
    }

    await tx.done;
  };

  onMount(async () => {
    console.log('Componente cargado.');
  });
</script>

<input type="file" accept="image/*" on:change={handleImageUpload}>
{#if successMessage}
  <p>{successMessage}</p>
{/if}

{#if imageUrl}
  <img src={imageUrl} alt="Imagen cargada desde IndexedDB">
{/if} -->
