<!-- Inventario pagina -->
<script>
  import InveHeaCont from "./comps/InveHeaCont.svelte";
  import { headerContent, connContext } from "$lib/stateContentHeader";

  // Recursos -------------------------------------
  import IconArrowDown from "$lib/assets/components/IconArrowDown.svelte";

  // Componentes ----------------------------------------
  import CardWarehouse from "../../components/CardWarehouse.svelte";

  // Example data
  const dataTest = {
    id: "bod-12345abc",
    name: "Bodega Central",
    capMax: 1000,
    proStock: 200,
    proTotals: 600,
    ubi: {
      address: "Calle Principal 123",
      city: "Bogotá",
      country: "Colombia",
    },
    lastAct: "2024-02-05T10:30:00",
  };

  // Metodo de insercion de header personalizado
  headerContent.set(InveHeaCont);

  // Reiniciar valor de busqueda
  connContext.set({});

  // Obtener valor de busqueda y variable reactiva
  let inpSearch;
  connContext.subscribe((value) => {
    inpSearch = value;
  });
</script>

<section class="container-inve">
  <header class="hea-inve">
    <section class="hea-sec1">
      <h1 class="hea-title">Bodegas</h1>
      <span class="tag-total">
        <p>Total</p>
        <p>120</p>
      </span>
    </section>
    <section class="hea-sec2">
      <button class="btn-add">
        <p class="tx-add">Agregar</p>
        <div class="ry-add" />
        <span class="ico-cont">
          <IconArrowDown size="12" color="var(--background-color)" />
        </span>
      </button>
    </section>
  </header>
  <article class="content-inve">
    <CardWarehouse data={dataTest} />
    <CardWarehouse data={dataTest} />
    <CardWarehouse data={dataTest} />
  </article>
</section>

<style>
  /* Contenedor principal de informacion */
  .container-inve {
    padding-bottom: 0.5rem;
  }

  /* Header de contenido */
  .hea-inve {
    position: sticky;
    top: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 0.5rem 0 1rem;
    width: 100%;
    height: 3rem;
    background: radial-gradient(
      50% 100% at 50% 0%,
      hsla(214, 100%, 8%, 0.92) 0%,
      hsla(212, 100%, 3%, 0.8) 100%
    );
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    z-index: 10;
  }

  /* Sub seccion header 1 */
  .hea-sec1 {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
  .hea-title {
    font-size: 20px;
    line-height: 20px;
    color: var(--font-cl-h1);
  }

  .tag-total {
    display: flex;
    align-items: center;
    gap: 6px;
    border: 1px solid var(--ry-gen);
    width: min-content;
    height: 1.5rem;
    padding: 0 0.5rem;
    border-radius: 1rem;
  }
  .tag-total p {
    word-wrap: nowrap;
    color: var(--color-contrast-500-t);
    font-size: 12px;
    line-height: 12px;
    font-weight: 400;
  }
  .tag-total p:nth-child(2) {
    color: var(--font-cl-h1);
    font-weight: 600;
  }

  /* Sub seccion header 2 */
  .hea-sec2 {
    display: flex;
    align-items: center;
    width: max-content;
    height: inherit;
  }

  .btn-add {
    display: flex;
    align-items: center;
    background-color: var(--color-main);
    height: 2rem;
    border-radius: 1rem;
  }
  .tx-add {
    color: var(--background-color);
    font-size: 14px;
    font-weight: 600;
    margin: 0 12px;
  }
  .ry-add {
    background-color: var(--background-color);
    width: 2px;
    height: inherit;
  }
  .ico-cont {
    display: grid;
    place-items: center;
    width: 2rem;
    height: inherit;
  }

  /* Contenido de bodegas */
  .content-inve {
    display: grid;
    flex-direction: column;
    grid-template-columns: repeat(auto-fit, minmax(min(18rem, 100%), 1fr));
    gap: 0.5rem;
    padding: 0 0.5rem;
    height: auto;
  }

  @media (min-width: 600px) {
    .hea-inve {
      top: 3.5rem;
    }
    .content-inve {
      padding: 0 1rem;
      gap: 1rem;
    }
  }
</style>
