<script>
  export let size, color
</script>

<svg
  width={size ? size : "18"}
  height={size ? size : "18"}
  viewBox="0 0 18 18"
  fill="none"
  xmlns="http://www.w3.org/2000/svg"
  ><path
    clip-rule="evenodd"
    d="M7.595 4.557a1.967 1.967 0 1 0-3.276-2.18 1.967 1.967 0 0 0 3.276 2.18m0 11.065a1.967 1.967 0 1 0-3.276-2.18 1.967 1.967 0 0 0 3.276 2.18m2.811-5.532a1.967 1.967 0 1 1 3.276-2.18 1.967 1.967 0 0 1-3.276 2.18"
    stroke={color}
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  /><path
    d="M7.927 2.709a.75.75 0 1 0 0 1.5zm8.582 1.5a.75.75 0 0 0 0-1.5zm-12.522 0a.75.75 0 1 0 0-1.5zm-2.496-1.5a.75.75 0 0 0 0 1.5zm6.436 11.066a.75.75 0 0 0 0 1.5zm8.582 1.5a.75.75 0 0 0 0-1.5zm-12.522 0a.75.75 0 0 0 0-1.5zm-2.496-1.5a.75.75 0 0 0 0 1.5zm8.582-4.033a.75.75 0 0 0 0-1.5zm-8.582-1.5a.75.75 0 0 0 0 1.5zm12.522 0a.75.75 0 1 0 0 1.5zm2.496 1.5a.75.75 0 0 0 0-1.5zM7.927 4.209h8.582v-1.5H7.927zm-3.94-1.5H1.491v1.5h2.496zm3.94 12.566h8.582v-1.5H7.927zm-3.94-1.5H1.491v1.5h2.496zm6.086-5.533H1.49v1.5h8.582zm3.94 1.5h2.496v-1.5h-2.496z"
    fill={color}
  />
</svg>
