<script>
  export let size;
</script>

<svg
  width={size ? size : "32"}
  height={size ? size : "32"}
  viewBox="0 0 32 32"
  fill="none"
  xmlns="http://www.w3.org/2000/svg"
  ><g clip-path="url(#a)"
    ><path
      d="M31.8 16C31.8 7.274 24.726.2 16 .2S.2 7.274.2 16 7.274 31.8 16 31.8 31.8 24.726 31.8 16Z"
      stroke="#fff"
      stroke-opacity=".16"
    /><path
      d="M11.28 12.5v1.084H8.486v1.718h2.14v1.066h-2.14V19.2H7.142v-6.7zm8.326 1.382L18.05 19.2H16.6l-.969-3.715-.97 3.715h-1.459l-1.565-5.318h1.364l.94 4.05 1.018-4.05h1.42l1 4.041.94-4.041zm3.04 5.385q-.701 0-1.267-.24a2.1 2.1 0 0 1-.883-.691 1.82 1.82 0 0 1-.336-1.066h1.44q.03.413.288.653.269.24.73.24.47 0 .739-.22a.75.75 0 0 0 .268-.596.68.68 0 0 0-.182-.49 1.2 1.2 0 0 0-.46-.297 6 6 0 0 0-.75-.25 9 9 0 0 1-1.065-.374 2 2 0 0 1-.7-.566q-.29-.384-.289-1.018 0-.595.298-1.037.297-.441.835-.672.537-.24 1.229-.24 1.035 0 1.68.509.652.5.72 1.402h-1.479a.75.75 0 0 0-.297-.567q-.27-.23-.72-.23-.394 0-.634.201-.23.202-.23.586 0 .27.172.451.183.173.442.288.27.106.749.25.652.192 1.066.384.412.192.71.576.297.384.297 1.008 0 .537-.278.998a2 2 0 0 1-.816.74q-.537.268-1.277.268"
      fill="url(#b)"
    /></g
  ><defs
    ><radialGradient
      id="b"
      cx="0"
      cy="0"
      r="1"
      gradientUnits="userSpaceOnUse"
      gradientTransform="matrix(0 9.8 -15.2372 0 16 12.6)"
      ><stop stop-color="#fff" /><stop
        offset="1"
        stop-color="#fff"
        stop-opacity=".5"
      /></radialGradient
    ><clipPath id="a"><path fill="#fff" d="M0 0h32v32H0z" /></clipPath></defs
  ></svg
>
