<script>
  export let size = 16, color;
</script>
<svg
  width={size}
  height={size}
  viewBox="0 0 16 16"
  fill="none"
  xmlns="http://www.w3.org/2000/svg"
  ><path
    d="M.013 5.003a.5.5 0 1 0 .974.226zM1.57.5V0a.5.5 0 0 0-.487.387zm4.286.5a.5.5 0 1 0 0-1zM1 5.116a.5.5 0 0 0-1 0zM.5 15.5H0a.5.5 0 0 0 .5.5zm15 0v.5a.5.5 0 0 0 .5-.5zM16 5.116a.5.5 0 0 0-1 0zm-15.5-.5a.5.5 0 0 0 0 1zm5.357 1a.5.5 0 1 0 0-1zm0-1a.5.5 0 0 0 0 1zm4.285 1a.5.5 0 0 0 0-1zm-4.785-.5a.5.5 0 1 0 1 0zm1-4.616a.5.5 0 0 0-1 0zm0 4.616a.5.5 0 0 0-1 0zm-.5 3.956h-.5a.5.5 0 0 0 .723.447zM8 8l.223-.447a.5.5 0 0 0-.447 0zm2.142 1.072-.223.447a.5.5 0 0 0 .723-.447zm.5-3.956a.5.5 0 0 0-1 0zM5.857 0a.5.5 0 0 0 0 1zm4.285 1a.5.5 0 0 0 0-1zm4.87 4.229a.5.5 0 1 0 .975-.226zM14.429.5l.487-.113A.5.5 0 0 0 14.428 0zM10.143 0a.5.5 0 1 0 0 1zM15.5 5.616a.5.5 0 0 0 0-1zm-5.357-1a.5.5 0 1 0 0 1zm-.5.5a.5.5 0 1 0 1 0zm1-4.616a.5.5 0 1 0-1 0zM.987 5.229 2.058.613 1.084.387.013 5.003zM1.571 1h4.286V0H1.571zM0 5.116V15.5h1V5.116zM.5 16h15v-1H.5zm15.5-.5V5.116h-1V15.5zM.5 5.616h5.357v-1H.5zm5.357 0h4.285v-1H5.857zm.5-.5V.5h-1v4.616zm-1 0v3.956h1V5.116zm.723 4.403 2.143-1.072-.447-.894-2.143 1.071zm1.696-1.072L9.919 9.52l.447-.895-2.143-1.071zm2.866.625V5.116h-1v3.956zM5.857 1h4.285V0H5.857zm10.13 4.003L14.915.387l-.974.226 1.072 4.616zM14.428 0h-4.285v1h4.285zM15.5 4.616h-5.357v1H15.5zm-4.857.5V.5h-1v4.616z"
    fill={color}
  />
</svg>
