<script>
  export let size = 14, color;
</script>

<svg width={size} height={size} viewBox="0 0 14 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M2.113 1.276a4.87 4.87 0 0 0 0 2.856c3.25.313 6.523.313 9.774 0a4.87 4.87 0 0 0 0-2.856 51 51 0 0 0-9.774 0M1.94.246a52 52 0 0 1 10.12 0c.37.037.682.291.796.642a5.9 5.9 0 0 1 0 3.631.93.93 0 0 1-.796.642 52 52 0 0 1-10.12 0 .93.93 0 0 1-.797-.642 5.9 5.9 0 0 1 0-3.63.93.93 0 0 1 .797-.642m.173 7.621a4.87 4.87 0 0 0 0 2.856c3.25.313 6.523.313 9.774 0a4.87 4.87 0 0 0 0-2.856 51 51 0 0 0-9.774 0M1.94 6.84a52 52 0 0 1 10.12 0c.37.037.682.29.796.642a5.9 5.9 0 0 1 0 3.63.93.93 0 0 1-.796.642c-3.366.33-6.755.33-10.12 0a.93.93 0 0 1-.797-.641 5.9 5.9 0 0 1 0-3.631.93.93 0 0 1 .797-.642" fill={color} /></svg>