<script>
  export let size = 16, color = "white";
</script>

<svg width={size} height={size} viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path clip-rule="evenodd" d="M5.436 1.333h5.258q.083 0 .163.01c2.14.14 3.803 1.798 3.81 3.8v5.715c-.008 2.108-1.844 3.813-4.103 3.809H5.436c-2.26.004-4.095-1.701-4.102-3.81V5.143c.007-2.109 1.843-3.814 4.102-3.81" stroke={color} stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/><path d="M10.857 12.75a.75.75 0 0 0 0-1.5zm-5.714-1.5a.75.75 0 1 0 0 1.5zm9.524-5.357a.75.75 0 1 0 0-1.5zm-3.81-.75h-.75c0 .414.336.75.75.75zm.75-3.8a.75.75 0 0 0-1.5 0zm-1.19 6.76a.75.75 0 0 0-1.024-1.096zm-2.928.682a.75.75 0 1 0 1.023 1.097zm0 1.097a.75.75 0 1 0 1.023-1.097zm-.882-2.875a.75.75 0 1 0-1.023 1.097zm.643 2.326a.75.75 0 0 0 1.5 0zM8.75 4a.75.75 0 1 0-1.5 0zm2.107 7.25H5.143v1.5h5.714zm3.81-6.857h-3.81v1.5h3.81zm-3.06.75v-3.8h-1.5v3.8zM9.393 7.007 7.49 8.785l1.023 1.097 1.905-1.778zm-.881 1.778L6.607 7.007 5.584 8.104l1.904 1.778zm.238.548V4h-1.5v5.333z" fill={color}/></svg>