<script>
  export let size = 10, color;
</script>

<svg
  width={size}
  height={size}
  viewBox="0 0 10 10"
  fill="none"
  xmlns="http://www.w3.org/2000/svg"
  ><path
    fill-rule="evenodd"
    clip-rule="evenodd"
    d="M9.769 2.24a.84.84 0 0 1 0 1.157L5.559 7.76a.77.77 0 0 1-1.117 0L.232 3.397a.84.84 0 0 1 0-1.157.77.77 0 0 1 1.116 0L5 6.025 8.652 2.24a.77.77 0 0 1 1.117 0"
    fill={color}
  />
</svg>
