<script>
  export let size = 14, color;
</script>

<svg
  width={size}
  height={size}
  viewBox="0 0 14 14"
  fill="none"
  xmlns="http://www.w3.org/2000/svg"
  ><path
    d="M7.038 12.475V1.6M1.6 7.037h10.875"
    stroke={color}
    stroke-width="2"
    stroke-linecap="round"
  />
</svg>
