<script>
  export let height;
  export let timeAnimation;
</script>

<svg
class="error-icon"
  width="24"
  height="37"
  style={`--animation-duration: ${timeAnimation}; --int-height: ${height};`}
  viewBox="0 0 24 37"
  fill="none"
  xmlns="http://www.w3.org/2000/svg"
  ><path
    d="M3.138 30.313q-1.292 0-2.216-.91-.924-.909-.91-2.215-.014-1.28.91-2.188a3.05 3.05 0 0 1 2.216-.91q1.25 0 2.173.91.937.909.952 2.188a3.03 3.03 0 0 1-.455 1.576 3.26 3.26 0 0 1-1.136 1.137 2.96 2.96 0 0 1-1.534.412m0-15.569q-1.292 0-2.216-.909-.924-.923-.91-2.216-.014-1.278.91-2.187a3.02 3.02 0 0 1 2.216-.923q1.25 0 2.173.923.937.909.952 2.187a3 3 0 0 1-.455 1.563 3.26 3.26 0 0 1-1.136 1.136 2.9 2.9 0 0 1-1.534.426m9.712 3.395q0-5.325 1.406-9.787a28.2 28.2 0 0 1 4.22-8.267h4.843q-1.08 1.407-2.017 3.452a31 31 0 0 0-1.634 4.46 42 42 0 0 0-1.08 5.014 35 35 0 0 0-.383 5.128q0 3.367.668 6.818.681 3.453 1.832 6.392 1.165 2.955 2.614 4.83h-4.844a28.3 28.3 0 0 1-4.219-8.253q-1.406-4.474-1.406-9.787"
    fill="var(--color-error)"
  /></svg
>

<style>
  .error-icon {
    height: var(--int-height, 37px);
    width: auto;
    animation: readyani var(--animation-duration, 0.3s) ease;
  }
  @keyframes readyani {
    from {
      opacity: 0;
      transform: translateY(8px);
    }
    to {
      opacity: 1;
      transform: translateY(0px);
    }
  }
</style>
