<script>
  export let width;
  export let height;
  export let timeAnimation;
</script>

<svg
  class="error-icon"
  {width}
  {height}
  style={`--animation-duration: ${timeAnimation};`}
  viewBox="0 0 40 40"
  fill="none"
  xmlns="http://www.w3.org/2000/svg"
  ><path
    d="M.879 34.879A3 3 0 1 0 5.12 39.12zM22.12 22.12a3 3 0 1 0-4.242-4.242zm-4.24-4.24a3 3 0 1 0 4.242 4.242zM39.12 5.12A3 3 0 1 0 34.88.88zm-17 12.758a3 3 0 1 0-4.242 4.242zM34.88 39.12a3 3 0 1 0 4.242-4.242zm-17-17a3 3 0 1 0 4.242-4.242zM5.12.88A3 3 0 1 0 .88 5.12zm0 38.242 17-17-4.242-4.242-17 17zm17-17 17-17L34.88.88l-17 17zm-4.242 0 17 17 4.242-4.242-17-17zm4.242-4.242-17-17L.88 5.12l17 17z"
    fill="#FF0101"
  /></svg
>

<style>
  .error-icon {
    animation: readyani var(--animation-duration, 0.3s) ease;
  }
  @keyframes readyani {
    from {
      opacity: 0;
      transform: translateY(8px);
    }
    to {
      opacity: 1;
      transform: translateY(0px);
    }
  }
</style>
