<script>
  import { onMount } from "svelte";
  import { waitForStateChange } from "$lib/stateNotiBar.js";

  let itemsStatic = {};
  let itemsNoti = [];

  onMount(() => {
    waitForStateChange((newState) => {
      itemsStatic = newState;
    });
  });

  $: console.log(itemsStatic);
</script>

<div class="cont-stay-noti">
  <div class="sub-noti">
    <div class="cont-noti">
      {#if itemsNoti.length >= 1}
        {#each itemsNoti as item}
          {item.value}
        {/each}
      {/if}
    </div>

    <div class="cont-float">
      {#if itemsStatic}
        <svelte:component this={itemsStatic.component} />
      {/if}
    </div>
  </div>
</div>

<style>
  /* Estilos de contenedor de avisos flotante */
  .cont-stay-noti {
    position: fixed;
    bottom: 3rem;
    left: 0;
    width: 100%;
    height: max-content;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 10px;

    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 0%,
      var(--background-color-t) 100%
    );
    z-index: 10;
  }
  .sub-noti {
    height: max-content;
    display: flex;
    flex-direction: column-reverse;
  }

  .cont-float {
    display: flex;
    flex-direction: column;
    height: auto;
  }

  @media (min-width: 600px) {
    .cont-stay-noti {
      width: auto;
      right: 0rem;
      bottom: 0rem;
      margin-left: 14rem;
    }
  }
</style>
