<script>
  // Recursos -----------------------------------------
  import IconFlowstock from "$lib/assets/components/IconFlowstock.svelte";
  import FlowstockTx from "$lib/assets/components/FlowstockTx.svelte";
  import HomeIcon from "../icons/HomeIcon.svelte";
  import InventoryIcon from "../icons/InventoryIcon.svelte";
  import DashboardIcon from "../icons/DashboardIcon.svelte";

  import { page } from "$app/stores";

  // Componentes ------------------------------------------
  import BarProgress from "../BarProgress.svelte";


  // Arreglo guia de rutas para el menu de navegacion
  const routesGuide = [
    { name: "Inicio", route: "/", ico: HomeIcon },
    { name: "Inventario", route: "/inventory", ico: InventoryIcon },
    { name: "Analitica", route: "/dashboard", ico: DashboardIcon },
  ];
</script>

<nav class="nav-main">
  <section class="hea-nav">
    <IconFlowstock size="32" />
    <FlowstockTx color="var(--color-contrast-700-t)" />
  </section>

  <section class="nav-options">
    <ul class="nv-main-list">
      {#each routesGuide as route}
        <li class="list-cont">
          <a
            class={`link-cont ${$page.url.pathname === route.route ? "link-act" : ""}`}
            href={route.route}
          >
            <svelte:component
              this={route.ico}
              size="24"
              color="var(--cl-link)"
            />
            <span>{route.name}</span>
          </a>
        </li>
      {/each}
    </ul>
  </section>

  <section class="nav-info-bottom">
    <div class="ry-div" />
    <article class="card-space">
      <h3>Espacio local</h3>
      <p class="tx-percent">65%</p>
      <BarProgress height="4px" percent="65" color="var(--color-main)" />
      <p class="tx-bar">100MB de 65MB en uso</p>
    </article>
    <footer class="foo-nav">
      <a href="/">Copyright © 2024 Flowstock, derechos reservados</a>
      <a class="link-foo" href="/politics">Terminos de uso</a>
      <a class="link-foo" href="/privacy">Politica de privacidad</a>
    </footer>
  </section>
</nav>

<style>
  .nav-main {
    border-right: 1px solid var(--ry-gen);
    display: flex;
    flex-direction: column;
    height: inherit;
    width: 100%;
    max-width: inherit;
    overflow: hidden;
    animation: init-nav 0.3s ease;
  }
  @keyframes init-nav {
    from {
      opacity: 0;
      transform: translateX(-6px);
    }
    to {
      opacity: 1;
      transform: translateX(0px);
    }
  }

  /* Primera seccion de nav */
  .hea-nav {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin: 1.5rem 0 2.5rem 1.5rem;
  }

  /* Segunda seccion de nav */
  .nav-options {
    padding: 0 1.5rem;
    height: max-content;
    overflow-y: auto;
  }

  .nv-main-list {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    list-style: none;
    height: inherit;
  }

  .list-cont {
    height: inherit;
    width: auto;
  }
  .link-cont {
    --cl-link: var(--color-contrast-700-t);
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0.8rem 1rem;
    width: max-content;
    height: 3rem;
    border-radius: 1rem;
  }
  .link-cont:hover {
    transition: all .2s ease;
    --cl-link: var(--font-cl-h1);
    background-color: var(--color-contrast-60-t);
  }
  .link-act {
    background-color: var(--color-contrast-60-t);
    --cl-link: var(--color-main);
  }
  .link-act:hover {
    --cl-link: var(--color-main);
  }
  .link-cont span {
    color: var(--cl-link);
    font-size: 1rem;
    line-height: 1rem;
    font-weight: 500;
  }

  /* Tercera seccion de nav - Espacio */
  .nav-info-bottom {
    margin-top: auto;
    padding: 0 1rem 1rem 1rem;
  }

  .ry-div {
    border-top: 1px solid var(--color-contrast-80-t);
    margin-bottom: 1rem;
    width: 100%;
  }

  .card-space {
    cursor: pointer;
    background-color: var(--color-contrast-40-t);
    padding: 12px;
    border-radius: 1rem;
  }
  .card-space:hover {
    transition: .2s ease;
    background-color: var(--color-contrast-60-t);
  }
  .card-space h3 {
    color: var(--color-contrast-700-t);
    font-size: 14px;
    font-weight: 500;
    line-height: 14px;
    margin-bottom: 12px;
  }
  .tx-percent {
    margin-bottom: 6px;
    font-size: 20px;
    font-weight: 700;
    line-height: 20px;
  }
  .tx-bar {
    color: var(--color-contrast-700-t);
    margin-top: 6px;
    font-size: 13px;
    font-weight: 400;
    line-height: 13px;
  }

  .foo-nav {
    display: flex;
    flex-direction: column;
    gap: 2px;
    margin-top: 1rem;
  }
  .foo-nav a {
    color: var(--color-contrast-300-t);
    font-size: 12px;
    font-weight: 300;
  }
  .link-foo:hover {
    color: var(--color-contrast-500-t);
  }

</style>
