<script>
  import { page } from "$app/stores";

  import HomeIcon from "../icons/HomeIcon.svelte";
  import InventoryIcon from "../icons/InventoryIcon.svelte";
  import DashboardIcon from "../icons/DashboardIcon.svelte";

  // Arreglo guia de rutas para el menu de navegacion
  const routesGuide = [
    { name: "Inicio", route: "/", ico: HomeIcon },
    { name: "Inventario", route: "/inventory", ico: InventoryIcon },
    { name: "Analitica", route: "/dashboard", ico: DashboardIcon },
  ];
</script>

<nav class="nv-main">
  <ul class="nv-main-list">
    {#each routesGuide as route}
      <li class="list-cont">
        <a
          class={`link-cont ${$page.url.pathname === route.route ? "link-act" : ""}`}
          href={route.route}
        >
          <svelte:component this={route.ico} size="20" color="var(--cl-link)" />
          <span>{route.name}</span>
        </a>
      </li>
    {/each}
  </ul>
</nav>

<style>
  .nv-main {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 3rem;
    border-top: 1px solid var(--ry-gen);
    background-color: var(--background-color);

    z-index: 10;
    animation: init-nav 0.2s ease;
  }

  @keyframes init-nav {
    from {
      opacity: 0;
      transform: translateY(6px);
    }
    to {
      transform: translateY(0px);
      opacity: 1;
    }
  }

  .nv-main-list {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    align-items: center;
    list-style: none;
    height: inherit;
  }

  .list-cont {
    height: inherit;
    width: 100%;
    max-width: 6rem;
  }
  .link-cont {
    --cl-link: var(--color-contrast-500-t);
    --weight-link: 400;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2px;
    width: auto;
    height: inherit;
  }
  .link-act {
    --cl-link: var(--color-main);
    --weight-link: 500;
  }
  .link-cont span {
    color: var(--cl-link);
    font-size: 12px;
    line-height: 12px;
    font-weight: var(--weight-link);
  }
</style>