<script>
  import Modal from "../../components/Modal.svelte";
  import Slider from "../../components/Slider.svelte";
  import { onMount } from "svelte";

  // Recursos ---------------------------------------
  import figureBackground from "$lib/assets/figure-background.svg";

  // Estados del modal - (Solo son formas estables de renderizar !!Posible mejora!!)
  let showModalState = false;
  let modalContent = {};

  function showModal(content) {
    showModalState = true;
    modalContent = content;
  }

  onMount(() => {
    // Llama a la función showModal con el objeto JSON como parámetro
    showModal({
      modalConfig: {
        sysClose: false,
        userClose: false,
        maxWidth: "600px",
        displayBackScreen: false,
      },
      modalCont: {
        component: Slider,
      },
    });
  });
</script>

<svelte:head>
  <title>Ingresa para comenzar</title>
</svelte:head>

<section class="login-content">
  <!-- Componente Modal y sistema de despliegue modal -->
  {#if showModalState}
    <Modal bind:showModalState {modalContent} />
  {/if}

  <img
    class="background-fig"
    src={figureBackground}
    alt="Backgroung Figure Cover"
  />
</section>

<style>
  .login-content {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
  }
  .login-content::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.92);
    backdrop-filter: blur(100px);
    -webkit-backdrop-filter: blur(100px);
    z-index: 1;
  }

  .background-fig {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0deg);
    width: auto;
    height: 90vh;
    
    z-index: 0;
    animation: backani 7s linear infinite;
  }
  @keyframes backani {
    to {
      transform: translate(-50%, -50%) rotate(360deg);
    }
  }
</style>
